<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {% include head.html %}

      <body data-spy="scroll" data-target="#toc">
            {% include layout/header.html %}

                {{ content }}

                    {% include footer.html %}
                      </body>
</html>{% if site.github %}<!--
environment: {{ site.github.environment }}
build_revision: {{ site.github.build_revision }}
url: {{ site.github.url }}
{% for item in site.github.versions %}{{ item[0] }} : {{ item[1] }}
{% endfor %}-->{% endif %}
