---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="jumbotron">
    <div class="container">
      <header class="post-header well">
        <h1 class="post-title" itemprop="name headline" data-toc-skip>{{ page.title | escape }}<small></small></h1>
{% if null != page.description %}
        <blockquote>{{ page.description }}</blockquote>
{% endif %}
{% if empty != page.tags %}
        <p>{{ page.tags | array_to_sentence_string }}</p>
{% endif %}
{% if empty != page.categories %}
        <p>Post on <span class="label label-default">{{ page.categories | array_to_sentence_string }}</span></p>
{% endif %}
        <small class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</small>
      </header>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-9">
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

        <hr class="masthead-hr">
        {% include layout/post_siblings.html %}

        <br />

        <hr class="masthead-hr">
        {% include post_share.html %}

        <br />

        <hr class="masthead-hr">
        {% include post_comments.html %}
      </div>

      <div class="col-sm-3">
        {% include services/list_qq_button.html %}
        <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
      </div>

    </div>
  </div>

</article>
